<template>
<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="fa fa-caret-down"></a>
			<a href="#" class="fa fa-times"></a>
		</div>

		<h2 class="panel-title">Add User</h2>
	</header>
	<div class="panel-body">
		 <form @submit.prevent="addUser">
            <div class="form-group">
               <label class="col-md-3 control-label" for="inputDisabled">Employee ID</label>
                <div class="col-md-6">
                <input type="text" class="form-control" v-model="user.employee_id" placeholder="Enter Employee ID">
            </div>
            </div>
            <div class="form-group">
               <label class="col-md-3 control-label" for="inputDisabled">User Name</label>
                <div class="col-md-6">
                <input type="text" class="form-control" v-model="user.name" placeholder="Enter User Name">
            </div>
            </div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">User Email</label>
				<div class="col-md-6">
					<input class="form-control" type="text" placeholder="User Email" v-model="user.email">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">Company</label>
				<div class="col-md-6">
					<input class="form-control" type="text" placeholder="User Company" v-model="user.company">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">Department</label>
				<div class="col-md-6">
					<input class="form-control" type="text" placeholder="User Department" v-model="user.department" autocomplete="off">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">Designation</label>
				<div class="col-md-6">
					<input class="form-control" type="text" placeholder="User Designation" v-model="user.designation" autocomplete="off">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">User Password</label>
				<div class="col-md-6">
					<input class="form-control" type="password" placeholder="User Password" v-model="user.password"  autocomplete="off">
				</div>
			</div>


			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">Confirm Password</label>
				<div class="col-md-6">
					<input class="form-control" type="password" placeholder="Confirm Password" v-model="user.password_confirmation" autocomplete="off">
				</div>
			</div>
			<div class="form-group">
				&nbsp;&nbsp;<button class="btn btn-primary">Submit</button>
			
			</div>
		</form>
	</div>
</section>
</template>

<script>
export default {
   // name:"add-user",
    data(){
        return {
            user:{}
        }
    },
    methods:{
          addUser(){
              this.axios.post('http://localhost:8000/api/users',this.user).then(response=>{
               // this.$router.push({name:"userlist"})
            }).catch(error=>{
                console.log(error)
            })
        }
    }
}
</script>