	<template>
	<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
						<a href="#" class="fa fa-times"></a>
					</div>
			
					<h2 class="panel-title">User List</h2>
				</header>
					<div class="panel-body">
							<div class="table-responsive">
								<table class="table mb-none">
									<thead>
										<tr>
											<th>#</th>
											<th>User Name</th>
											<th>User Email</th>
											<th>Designation</th>
											<th>Department</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
								<tr v-for="user in users" :key="user.id">
								<td>{{ user.id }}</td>
				                <td>{{ user.name }}</td>
				                <td>{{ user.email }}</td>
				                <td>{{ user.email }}</td>
				                <td>{{ user.email }}</td>
				                <td>
			                    <div class="btn-group" role="group">
			                        <router-link :to="{name: 'edit', params: { id: user.id }}" class="btn btn-success">Edit</router-link>
			                        <button class="btn btn-danger" @click="deleteProduct(user.id)">Delete</button>
			                    </div>
				                </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
			</section>

	</template>

	<script>
	export default {
	data() {
	return {
	users: []
	}
	},
	created() {
	this.axios
	.get('http://localhost:8000/api/users/')
	.then(response => {
	    this.users = response.data;
	});
	},
	methods: {
	deleteProduct(id) { 
	this.axios
	    .delete(`http://localhost:8000/api/users/${id}`)
	    .then(response => {
	        let i = this.users.map(data => data.id).indexOf(id);
	        this.users.splice(i, 1)
	    });
	}
	}
	}
	</script>