<template>
    <!-- start: page -->
               

                    <!-- end: page -->
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
