<template>
	
		<!-- Vendor -->
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery/jquery.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/flot/jquery.flot.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/flot/jquery.flot.pie.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/flot/jquery.flot.categories.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/flot/jquery.flot.resize.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/raphael/raphael.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/morris/morris.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/gauge/gauge.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/snap-svg/snap.svg.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{{ asset('/admin_resource/')}}/assets/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="{{ asset('/admin_resource/')}}/assets/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{{ asset('/admin_resource/')}}/assets/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="{{ asset('/admin_resource/')}}/assets/javascripts/dashboard/examples.dashboard.js"></script>

		<!-- Specific Page Vendor -->
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-validation/jquery.validate.js"></script>
		
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
	<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="{{ asset('/admin_resource/')}}/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>


	</body>
</html>
</template>