<template>
<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="fa fa-caret-down"></a>
			<a href="#" class="fa fa-times"></a>
		</div>

		<h2 class="panel-title">Add Category</h2>
	</header>
	<div class="panel-body">
		 <form @submit.prevent="addCategory">
            <div class="form-group">
               <label class="col-md-3 control-label">Category Name</label>
                <div class="col-md-6">
                <input type="text" class="form-control" v-model="category.category_name" placeholder="Enter User Name">
            </div>
            </div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">Parent Category</label>
				<div class="col-md-6">
					<select class="form-control" v-model="category.id">
			<option  v-for="parent_category in categories" :value="parent_category.id">
			{{parent_category.category_name}}
			</option>
					</select>

					
					
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label" for="inputDisabled">Category Description</label>
				<div class="col-md-6">
					<textarea class="form-control" v-model="category.description" placeholder="Category Description"></textarea>
					
				</div>
			</div>


			<div class="form-group">
				&nbsp;&nbsp;<button class="btn btn-primary">Submit</button>
			
			</div>


		
		</form>
	</div>
</section>
</template>
<script>
	export default {
	data() {
	return {
	 category:{
            category_name:"",
            description:"",
        },
        categories:[],
	}
	},
	created() {
	this.axios
	.get('http://localhost:8000/api/categories/')
	.then(response => {
	    this.categories = response.data;
	});
	},
	methods: {

		 addCategory(){
              this.axios.post('http://localhost:8000/api/categories',this.category).then(response=>{
               // this.$router.push({name:"categorylist"})
              this.$toastr.s("Success", "Category Added");

              this.category.category_name = '';
              this.category.description = '';
            }).catch(error=>{
                console.log(error)
            })
        },
	deleteProduct(id) { 
	this.axios
	    .delete(`http://localhost:8000/api/categories/${id}`)
	    .then(response => {
	        let i = this.categories.map(data => data.id).indexOf(id);
	        this.categories.splice(i, 1)
	    });
	}
	}
	}
	</script>